body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(https://img.freepik.com/vector-gratis/ilustracion-ramen-dibujada-mano_52683-154810.jpg?size=626&ext=jpg);
}

.recipe-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}

h1 {
    color: #ff6666;
}

img, .media-container {
    margin: 20px auto; 
    display: block; 
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.section {
    width: 48%;
    text-align: left; /* Alinea el texto de los ingredientes e instrucciones a la izquierda */
}

ul, ol {
    padding-left: 20px;
    margin-top: 10px;
}

li {
    margin-bottom: 5px;
}